body{
    background-color: bisque;
}
.centerText{
    text-align: center;
}

.header{
    font-size: xx-large;
}

.playerName{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.stats{
    font-size: medium;
    text-decoration: none;
}

.nav{
    font-weight: bold;
    text-decoration: none;
    color: blue;
}